@keyframes fall {
  from {
    transform: translateY(-50vh);
  }
  to {
    transform: translateY(100vh);
  }
}

.h-screen.w-screen {
  overflow: hidden;
}

.falling-money {
  position: absolute;
  width: 72px; /* Adjust as needed */
  height: 72px; /* Adjust as needed */
  animation: fall linear;
  object-fit: contain;
}